<div id="root-container">
  <div class="custom-toolbar">
    <button
      kendoButton
      icon="menu"
      fillMode="flat"
      size="large"
      (click)="drawer.toggle && drawer.toggle()"
    ></button>
    <span class="mail-box">午餐吃什麼</span>
    </div>

  <kendo-drawer-container>
    <div class="menu-content">
      <kendo-drawer
        #drawer
        [items]="items"
        mode="push"
        [mini]="true"
        [expanded]="false"
        (select)="onSelect($event)"
        
      >
      </kendo-drawer>
    </div>
    <kendo-drawer-content>
      <app-menu [selectedItem]="selected"></app-menu>
    </kendo-drawer-content>
  </kendo-drawer-container>

  <app-footer></app-footer>
</div>
