* {
  margin: 0;
  padding: 0;
}

html,
body,
my-app {
  padding: 0;
  height: 100%;
}

#root-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: Helvetica, Arial, 'LiHei Pro', '黑體-繁', 'Microsoft JhengHei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #2c3e50;
  background-color: #eff0f0;
}

my-app {
  display: flex;
  flex-direction: column;
}

kendo-drawer-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

.k-icon {
  font-size: 20px;
}

.custom-toolbar {
  width: 100%;
  background-color: #fff;
  line-height: 10px;
  border-bottom: inset;
  border-bottom-width: 1px;
  padding: 3px 8px;
  color: #656565;
}

.mail-box {
  /* margin-left: 30px; */
  margin-left: 2%;
  line-height: 60px;
  color: #191919;
  font-size: 25px;
  font-weight: 600;
}

app-footer {
  flex: 0 0 auto;
}

.menu-content {
  display: flex;
  height: 100%;
  box-shadow: 0 0 0 5px rgba(228, 231, 235, 0.5);

}

.menu-content kendo-drawer {
  font-weight: bold;
  width: 100%;

}
